/*
	Name/Student: park jones
	FileName: Styles.css
	Date: 12/7/24
	Notes:
*/
/*ADVANCED CSS TECH IS linear-gradient BACKGROUND COLORS*/
/*body*/
body{
    margin: 10%;
    margin-bottom: 100%;
    background-image: linear-gradient(#022839, black);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
/*main catagory*/
main{
    padding-left: 20%;
    padding-right: 20%;
}
.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_content a{
    color: rgb(192, 226, 255);
}
.main_content p{
    font-size: 24px;
    border: 3px solid #778392;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #353e4a;
    border-radius: 10px;
}
.main_content img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
/**/
/*nav bar styling rules :)*/
header{
    background-color: #353e4a;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;/*don't really understand 'flex' stuff but it works :P*/
}
header h1{ 
    color: white; 
    margin: 0; 
    padding: 10px 0; 
}
.nav-bar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #353e4a;
    display: flex;
    justify-content: center;
}
.nav-bar li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
.linkToHome{ 
    /*couldnt find time to tinker on limited time to figure this out. was hoping to make the 
    icon all the way to the left without interactiung with the nav without doing things too much
    .. Relearning is hard*/
    margin: auto;
}
.linkToHome img{ 
    width: 40px;
    height: auto; 
    vertical-align: left; 
}
/*Table style rules*/
table{
    width: 100%;
    border-collapse:separate;
}
th, td{
    border: 3px solid #778392;
    padding: 10px;
    text-align: left;
}
th{
    background-color: #778392;
}
td a{
    color: #a2c6d6;
}
#contact_us h2{
    text-align: center;
}
/*Poetry samples*/

/**/
/**/
/**/
/**/
/**/